/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/

/.web-server-pid

.idea

/phpunit.xml
.phpunit
.phpunit.result.cache

/.phpcs-cache
/phpcs.xml

code-coverage

.deptrac.cache
